<!-- MAIN SLIDER -->
<section id="main-slider" class="flexslider fullscreen">      	
            
    <!-- MAIN SLIDER TITLE OUTTER WRAPPER -->
    <div class="slide-title-outter-wrapper">
        
        <!-- MAIN SLIDER TITLE INNER WRAPPER -->
        <div class="slide-title-inner-wrapper">
                        
            <!-- TITLE -->
            <div class="slide-title align-middle">
            
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6 animation delay1 fadeInUp">
                            
                            <div id="save-the-date">
                                <div id="save">Save</div>
                                <div id="the-date">The Date</div>
                                <div id="date">- 09<span class="pink-dot">/</span>25<span class="pink-dot">/</span>2021 -</div>
                            </div>
                            <div class="banner-text light medium" style="letter-spacing:3px">
                                <h4>*** WE ARE GETTING MARRIED ***</h4>
                            </div>         
                            <div class="heart-divider" style="margin:0">
                                <span class="white-line" style="width:10px"></span>
                                <i class="de-icon-heart pink-heart"></i>
                                <i class="de-icon-heart white-heart"></i>
                                <span class="white-line" style="width:10px"></span>
                            </div>
                           
                                                    
                        </div> 
                    </div>
                </div>
                
            </div> 
                        
        </div><!-- END of MAIN SLIDER TITLE INNER WRAPPER -->
        
    </div> <!-- END of MAIN SLIDER TITLE OUTTER WRAPPER -->
                 
    <!-- MAIN SLIDER IMAGES -->
    
      <ul class="slides">
        
        
        <li>
            <!-- SLIDE IMAGE -->
            <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(../../assets/images/engagement_photos/Rachel&Andrew_035.jpg);">
            </div>
            
            <!-- SLIDE OVERLAY -->
            <div class="slide-overlay" style="opacity:0.2"> </div> 
                                              
        </li>
        
                     
           <li>
              <!-- SLIDE IMAGE -->
            <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(../../assets/images/engagement_photos/Rachel&Andrew_071_2.jpg);">
            </div>
            
            <!-- SLIDE OVERLAY -->
            <div class="slide-overlay" style="opacity:0.2"> </div>
        </li>
        
        <li>
              <!-- SLIDE IMAGE -->
            <div data-stellar-ratio="0.5" class="slide-image" style="background-image:url(../../assets/images/engagement_photos/Rachel&Andrew_172_2.jpg);">
            </div>
            
            <!-- SLIDE OVERLAY -->
            <div class="slide-overlay" style="opacity:0.2"> </div>
        </li>
        
 
        
      </ul><!-- END of MAIN SLIDER IMAGES -->            
    
</section><!-- ENF of MAIN SLIDER -->



<!--CONTENT SECTION-->
<section id="content">

    <!--COUPLE SECTION-->
    <section id="couple">
        
        <div class="container">
            <div class="row">
                
                <!-- SECTION TITLE -->
                <div class="col-md-offset-1 col-md-10 text-center">
                    
                    <div class="section-title animation fadeInUp">
                        <h1>
                            THE HAPPY COUPLE
                        </h1>
                    
                        <p class="blurbs">
                            Welcome to our wedding website – we’re so glad you’re here!
                        </p>

                        <p class="blurb text-justify">

We’ve created this website as a helpful resource for all of the need-to-know details in the lead up to our big day. Here you’ll find our schedule of timings and venue directions, along with our bridal party introductions and relationship history.

We’d love for you to take a look around to learn more about our wedding day plans. Don’t forget to RSVP and let us know about any dietary restrictions, too.
                            </p>
                            
                            <p class="blurb text-justify">
                                And finally, thank you so much for all of your love and support so far! We can’t wait to celebrate this special day with all of our favorite people!
                            </p>
                    
                        <div class="heart-divider">
                            <span class="grey-line"></span>
                              <i class="de-icon-heart pink-heart"></i>
                               <i class="de-icon-heart grey-heart"></i>
                              <span class="grey-line"></span>
                        </div>
                    </div>
                </div>
                
                <!-- SECTION CONTENT -->
                <div id="andrew" class="col-md-offset-1 col-md-5">
                
                     <!--PHOTO-ITEM-->
                     <div class="photo-item animation fadeInLeft">
                        
                             <!--HIS-PHOTO-->
                            <img loading="lazy" src="./assets/images/engagement_photos/andrew_458.jpg" alt="" class="hover-animation image-zoom-in">
                                    
                            <!--PHOTO OVERLAY-->
                               <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                            </div><!--END of PHOTO OVERLAY-->
                            
                            <!--PHOTO CAPTION-->
                               <div class="layer wh95 border-photo-caption hover-animation fade-out">
                                <div class="alignment">
                                    <div class="v-align center-bottom">
                                        
                                        <div>
                                            <div class="heart-divider" style="margin:0">
                                                <i class="de-icon-heart pink-heart"></i>
                                                <i class="de-icon-heart white-heart"></i>
                                            </div>
                                            <div class="banner-text light small" style="letter-spacing:3px;">
                                                <h4>*** THE GROOM ***</h4>
                                               </div>  
                                        </div>
                                    </div>
                                </div>
                             </div><!--END of PHOTO CAPTION-->
                           
                             
                             <!--ICON LINK-->
                             <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                <div class="alignment">
                                    <div class="v-align center-middle">
                                    
                                         <a href="javascript:void(0)" class="de-button outline medium">
                                            ANDREW BARKER
                                        </a>
                                        
                                      </div>
                                </div>
                             </div><!--END of ICON LINK-->
                    
                    </div><!--END of PHOTO-ITEM-->                                    
                    
                    <p class="couple-excerpt animation fadeInLeft">
                        <strong>I'm Andrew Barker. </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar.
                        <br>
                        <br>
                        <span class="pull-right" style="font-weight: bold; font-style: italic;">- Rachel</span>
                    </p>
                    
                </div>
                
                <div class="col-md-5">
                
                    <!--PHOTO-ITEM-->
                     <div class="photo-item animation fadeInRight">
                        
                             <!--HER-PHOTO-->
                            <img loading="lazy" src="./assets/images/engagement_photos/rachel_458.jpg" alt="" class="hover-animation image-zoom-in">
                                    
                            <!--PHOTO OVERLAY-->
                               <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                            </div><!--END of PHOTO OVERLAY-->
                                    
                             <!--PHOTO CAPTION-->
                               <div class="layer wh95 border-photo-caption hover-animation fade-out">
                                <div class="alignment">
                                    <div class="v-align center-bottom">
                                        
                                        <div>
                                            
                                            <div class="heart-divider" style="margin:0">
                                                <i class="de-icon-heart pink-heart"></i>
                                                <i class="de-icon-heart white-heart"></i>
                                            </div>
                                            <div class="banner-text light small" style="letter-spacing:3px;">
                                                <h4>*** THE BRIDE ***</h4>
                                               </div>  
                                        </div>
                                    </div>
                                </div>
                             </div><!--END of PHOTO CAPTION-->
                                                                
                             <!--ICON LINK-->
                             <div class="layer wh95 hidden-link hover-animation delay1 fade-in">
                                <div class="alignment">
                                    <div class="v-align center-middle">
                                    
                                         <a href="javascript:void(0)" class="de-button outline medium">
                                            RACHEL MAYHAUS
                                        </a>
                                        
                                      </div>
                                </div>
                             </div><!--END of ICON LINK-->
                    
                    </div><!--END of PHOTO-ITEM-->  
                    
                    <p class="couple-excerpt animation fadeInRight text-justify">
                        Someone once told me that "when you meet the right person, you'll know." 
                        Well, when it came to Rachel, I just knew. Right away, we connected in a way that left me feeling whole and complete.
                        I love you for your beauty, your intelligence, your kindness, and for the way you always know how to make me feel so special.
                        <br>
                        <br>
                        So on top of all the other vows that I will make to you on our wedding day, I also vow to always appreciate how lucky I am.
                        <br>
                        <br>
                        <span class="pull-right" style="font-weight: bold; font-style: italic;">- Andrew</span>
                    </p>
                    
                </div>
            </div>
        </div>
    </section>     
    
    
    <!-- LOCATION & COUNTDOWN SECTION -->
    <section id="location-countdown">
        <div class="image-divider auto-height" style="background-image:url(../../assets/images/st-peter.jpg);" data-stellar-background-ratio=".25">
            
            <div class="divider-overlay"></div>
            
            <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax
            <div class="alignment"> 
                <div class="v-align center-middle"> -->                    	
            
            <div class="container">                 	 
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 text-center">
                
                         <div class="banner-text light medium animation fadeInUp" style="letter-spacing:3px;">
                             <h4>*** ST. PETER IN CHAINS CATHEDRAL, CINCINNATI ***</h4>
                         </div>   
                          
                        <div class="animation fadeInUp">
                         <div id="counting-down">
                             <div id="counting">Counting</div>
                            <div id="down">Down</div>
                         </div>
                        </div>
                
                        <div class="heart-divider animation fadeInUp">
                            <span class="white-line"></span>
                            <i class="de-icon-heart pink-heart"></i>
                            <i class="de-icon-heart white-heart"></i>
                            <span class="white-line"></span>
                        </div>
                            
                        <div id="countdown" class="simple-countdown animation fadeInUp"></div>
             
                     </div>
                 </div>
             </div>
             
                 <!--</div>
               </div>-->
            
        </div>		
    </section>
    
    
    <!-- THE WEDDING SECTION -->
    <section id="the-wedding">
        
        <div class="container">
       
                <!-- ROW-1 -->
            <div class="row">
                
                <!-- SECTION TITLE -->
                <div class="col-md-12 text-center">
                
                    <div class="section-title animation fadeInUp">
                        <h2>
                            THE WEDDING
                        </h2>
                    
                        <!-- <p class="blurb">
                            Lorem ipsum dolor sit amet, consectetur adipiscing lorem ipsum dolor sit amet, consectetur adipiscing
                        </p> -->
                    
                        <div class="heart-divider">
                            <span class="grey-line"></span>
                              <i class="de-icon-heart pink-heart"></i>
                               <i class="de-icon-heart grey-heart"></i>
                              <span class="grey-line"></span>
                        </div>
                      </div>
                </div>
           </div> <!-- END of ROW-1 -->
           
           
           <!-- ROW-2 -->
           <div class="row">      
                
                <div class="col-md-offset-1 col-md-10">
                
                    <div class="container-fluid">
                        <div class="row">
                        
                            <!-- ITEM-1 -->
                            <div class="wedding-item col-md-4 animation fadeIn">
                            
                                <!--PHOTO-ITEM-->
                                <div class="photo-item">
                        
                                     <!--PHOTO-->
                                    <img loading="lazy" src="./assets/images/oscar.jpg" alt="" class="hover-animation image-zoom-in">
                                    
                                       <!--PHOTO OVERLAY-->
                                      <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                                    </div><!--END of PHOTO OVERLAY-->
                                    
                                    <div class="layer wh95 border-photo-caption fade-out">
                                     </div><!--END of PHOTO CAPTION-->
                                                                            
                                     <!--ICON LINK-->
                                     <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                        <div class="alignment">
                                            <div class="v-align center-middle">
                                    
                                                 <a href="./details/locations/" class="de-button outline small">
                                                    GET DIRECTIONS
                                                </a>
                                        
                                              </div>
                                        </div>
                                        </div><!--END of ICON LINK-->
                    
                                </div><!--END of PHOTO-ITEM--> 
                                
                                <!-- TITLE & EXCERPT -->
                                <div class="title-excerpt">
                                    <h3><a href="./details/locations/">LOCATIONS</a></h3>
                                    <p>We all know someone that is bad with directions and tends to get lost *cough* Rachel *cough*. We would love for everyone to make these events on time, so we've gathered the addresses for the key places you may need for our wedding day.</p>
                                </div>
                                <!-- END of TITLE & EXCERPT -->
                                 
                            </div><!-- END of ITEM-1 -->
                            
                            
                            <!-- ITEM-2 -->
                            <div class="wedding-item col-md-4 animation delay1 fadeIn">
                            
                                   <!--PHOTO-ITEM-->
                                <div class="photo-item">
                        
                                     <!--PHOTO-->
                                    <img loading="lazy" src="./assets/images/gifts.jpg" alt="" class="hover-animation image-zoom-in">
                                    
                                       <!--PHOTO OVERLAY-->
                                       <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                                    </div><!--END of PHOTO OVERLAY-->
                                    
                                     <div class="layer wh95 border-photo-caption fade-out">
                                
                                     </div><!--END of PHOTO CAPTION-->
                                                                            
                                     <!--ICON LINK-->
                                     <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                        <div class="alignment">
                                            <div class="v-align center-middle">
                                    
                                                 <a href="./details/registry/" class="de-button outline small">
                                                    GIFT LISTS
                                                </a>
                                        
                                              </div>
                                        </div>
                                        </div><!--END of ICON LINK-->
                    
                                </div><!--END of PHOTO-ITEM--> 
                                
                                <!-- TITLE & EXCERPT -->
                                <div class="title-excerpt">
                                    <h3><a href="./details/registry/">GIFT REGISTRIES</a></h3>
                                    <p>Your presence at our wedding is the greatest gift of all. However, if you wish to honor us with a gift, we have registered for the items we’d find the most useful as we prepare for married life! You can view our registry here. </p>
                                    <br>
                                </div>
                                <!-- END of TITLE & EXCERPT -->
                                
                            </div><!-- END of ITEM-2 -->
                            
                            
                            <!-- ITEM-3 -->
                            <div class="wedding-item col-md-4 animation delay2 fadeIn">
                            
                                   <!--PHOTO-ITEM-->
                                <div class="photo-item">
                        
                                     <!--PHOTO-->
                                    <img loading="lazy" src="./assets/images/AC Hotel_square.jpg" alt="" class="hover-animation image-zoom-in">
                                    
                                       <!--PHOTO OVERLAY-->
                                       <div class="layer wh95 hidden-black-overlay hover-animation fade-in">
                                    </div><!--END of PHOTO OVERLAY-->
                                    
                                    <div class="layer wh95 border-photo-caption fade-out">
                                
                                     </div><!--END of PHOTO CAPTION-->
                                                                            
                                     <!--ICON LINK-->
                                     <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                                        <div class="alignment">
                                            <div class="v-align center-middle">
                                    
                                                 <a href="./details/accommodations/" class="de-button outline small">
                                                    ACCOMMODATIONS
                                                </a>
                                        
                                              </div>
                                        </div>
                                        </div><!--END of ICON LINK-->
                    
                                </div><!--END of PHOTO-ITEM--> 
                                
                                <!-- TITLE & EXCERPT -->
                                <div class="title-excerpt">
                                    <h3><a href="./details/accommodations/">ACCOMMODATIONS</a></h3>
                                    <p>As the wedding day approaches, you may be looking for info for accommodations such as hotel rooms. As we finalize those pieces, you will be able to find the details for these as they become available. </p>
                                    <br>
                                </div>
                                <!-- END of TITLE & EXCERPT -->
                                
                            </div> <!-- END of ITEM-3 -->
                            
                        </div>
                        
                        
                    </div>
                    
                </div>                        
            </div><!-- END of ROW-2 -->
            
        </div><!-- END of CONTAINER -->
        
    </section>       
   
    
    <!-- RSVP SECTION -->
    <section id="rsvp">
        
        <div class="container">
            <div class="row">
            
                <!-- SECTION TITLE -->
                <div class="col-md-12 text-center ">
                       
                    <div class="section-title animation fadeInUp">
                        <div class="heart-divider">
                            <i class="de-icon-heart pink-heart"></i>
                            <i class="de-icon-heart grey-heart"></i>
                        </div>
                 
                        <h2>
                            ARE YOU ATTENDING?
                        </h2>
                    
                        <p>
                            Please respond before <strong>September 4th, 2021</strong>.
                        </p>
                        
                        <a href="./rsvp/" class="de-button medium animation fadeInUp">
                            RSVP
                        </a>
                    </div>
            
                </div>
        
            </div>
        </div>
                
    </section>
    
    
    
    
</section>